@model TaxModel
@{
    ViewBag.Title = "Taxes how much?!?!";
}
<head>
    <style>
        img {width: 100%;}
    </style>
</head>

    <div class="container">
        <header>
            <h1 class="mt-3">@ViewBag.Title</h1>
            
      
        </header>
       
        <main>


            <form asp-action="Tax" method="post" class="form-horizontal">
                <div asp-validation-summary="All"></div>
                <div class="row">
                    <label asp-for="TotalBill"
                           class="control-label col-3 col-sm-6 col-md-4 col-lg-12">
                        How much is your bill?:
                    </label>
                    <input asp-for="TotalBill"
                           class="form-control col-3 col-sm-6 col-md-4 col-lg-12" />
                    <span asp-validation-for="@Model.TotalBill"
                          class="text-danger col"></span>
                </div>
                <div class="row">
                    <label asp-for="StatePercentageTax"
                           class="control-label col-3 col-sm-6 col-md-4 col-lg-12">
                        How much is the % of taxes in your state?:
                    </label>
                    <input asp-for="StatePercentageTax"
                           class="form-control col-3 col-sm-6 col-md-4 col-lg-12" />
                    <span asp-validation-for="@Model.StatePercentageTax"
                          class="text-danger col"></span>
                </div>

                <div class="row">
                    <label class="control-label col-3">Your total is:</label>
                    <input value="@ViewBag.TotalWithTax" readonly
                           class="form-control col-3 col-sm-6 col-md-4 col-lg-12" />
                </div>
                <div class="row">
                    <div class="col offset-3 pl-0">
                        <button type="submit"
                                class="btn btn-primary">
                            Calculate
                        </button>
                        <a asp-action="Tax"
                           class="btn btn-warning">Clear</a>
                    </div>
                </div>
            </form>
            <figure class="figure">
                <img src="~/images/09pexels-pixabay-53621.jpg" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">No need a calculator for that...</figcaption>
            </figure>
        </main>
        <div>
            <p class="text-center"></p><br />
            <p class="text-center"></p><br />
        </div>
    </div>
