@{
    ViewData["Title"] = "Are U Lub?";
}
<head>
    <style>
        img {
            width: 100%;            
        }
    </style>
</head>

<div class="text-center" style="">
    <h1>WELCOME!</h1>
    <figure class="figure">
        <img src="~/Images/01pexels-cottonbro-4480505 (1).jpg" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">We do car repairs here!</figcaption>
    </figure>

</div>
    
